---
- name: Configure rke2-agent
  ansible.builtin.template:
      src: agent.yaml.j2
      dest: /etc/rancher/rke2/config.yaml
      owner: root
      group: root
      mode: '0600'
  notify: "restart rke2 agent service"

- name: Start rke2-agent
  ansible.builtin.copy:
      src: '/usr/local/lib/systemd/system/rke2-agent.service'
      dest: '/etc/systemd/system/rke2-agent.service'
      mode: '0644'
  notify:
      - systemd daemon reload
      - "restart rke2 agent service"

- name: Start/enable all rke2-agent services
  ansible.builtin.systemd:
      name: rke2-agent.service
      enabled: true
