---
- name: Create directories
  ansible.builtin.file:
      path: "{{ item }}"
      state: directory
      owner: root
      group: root
      mode: "0700"
  with_items:
      - "/etc/rancher/rke2"
      - "{{ etcd.snapshot.dir }}"

- name: Use rke2-cis-sysctl for rke2 service
  ansible.builtin.copy:
      src: "/usr/local/share/rke2/rke2-cis-sysctl.conf"
      dest: "/etc/sysctl.d/60-rke2-cis.conf"
      mode: '0644'
      remote_src: true
  notify: restart sysctl

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Create etcd group
  ansible.builtin.group:
      name: etcd
      state: present

- name: Create etcd user
  ansible.builtin.user:
      name: etcd
      group: etcd
      system: true
      shell: /sbin/nologin
      create_home: false
