server: "https://{{ hostvars[inventory_hostname]['groups']['loadbalancer_internal'] | first }}:9345" # TODO: use lb address
data-dir: {{ data_dir }}
token: {{ rke2_join_token }}
node-name: {{ inventory_hostname | replace("_", "-") }}
kubelet-arg:
{{ kubelet.args | to_nice_yaml(indent=4) }}
systemd-default-registry: {{ registry.default }}
