---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    kubeProxyReplacement: strict
    k8sServiceHost: {{ hostvars[inventory_hostname]['groups']['loadbalancer_internal']|first }}
    k8sServicePort: 6443
    # we don't expect to have a prometheus installation by default
    prometheus:
      enabled: false
    operator:
      replicas: 1
    containerRuntime:
      # we can hardcode this since this role will always be executed on rke2
      integration: containerd
    # see https://github.com/cilium/cilium/issues/14955
    endpointRoutes:
      enabled: false # TODO
    # ipv4 only is the default; make sure of this for future defaults
    ipv4:
      enabled: true
    ipv6:
      enabled: false
    # we don't need this
    l7Proxy: false
    # test whether this is needed
    preflight:
      enabled: false # TODO
    eni:
      enabled: true
    # this is enabled by default ; enable this at some point?
    hubble:
      enabled: false
      # tls:
      #   certManagerIssuerRef:
      #     group: cert-manager.io
      #     kind: ClusterIssuer
      #     name: letsencrypt-issuer
      #   server:
      #     extraDnsNames:
      #       - api.hubble.carstens.tech
      # ui:
      #   enabled: true
      #   ingress:
      #     enabled: true
      #     annotations:
      #       kubernetes.io/tls-acme: "true"
      #       cert-manager.io/issue-temporary-certificate: "false"
      #       cert-manager.io/cluster-issuer: "letsencrypt-issuer"
      #     hosts:
      #       - hubble.carstens.tech
      #     tls:
      #       - secretName: tls-hubble-ui
      #         hosts:
      #           hubble.carstens.tech
