{% if inventory_hostname != groups["master"]|first %}
server: "https://{{ hostvars[inventory_hostname]['groups']['loadbalancer_internal']|first }}:9345" # TODO: use LB address
{% endif %}
tls-san:
  - {{ server.address }}
  - {{ hostvars[inventory_hostname]['groups']['loadbalancer_external']|first }}
data-dir: {{ data_dir }}
cluster-cidr: {{ cluster.cidr }}
service-cidr: {{ service_cidr }}
cluster-dns: {{ cluster.dns }}
cluster-domain: {{ cluster.domain }}
write-kubeconfig: {{ root_kubeconfig }}
kube-apiserver-arg:
{{ apiserver.args | to_nice_yaml(indent=4) }}
kube-apiserver-extra-mount:
{{ apiserver.extra_mount | to_nice_yaml(indent=4) }}
kube-scheduler-arg:
{{ scheduler.args | to_nice_yaml(indent=4) }}
kube-controller-manager-arg:
{{ controller_manager.args | to_nice_yaml(indent=4) }}
kubelet-arg:
{{ kubelet.args | to_nice_yaml(indent=4) }}
etcd-expose-metrics: {{ etcd.metrics }}
etcd-snapshot-schedule-cron: {{ etcd.snapshot.cron }}
etcd-snapshot-retention: {{ etcd.snapshot.retention }}
etcd-snapshot-dir: {{ etcd.snapshot.dir }}
disable:
{{ disable | to_nice_yaml(indent=4) }}
node-name: {{ inventory_hostname | replace("_", "-") }}
systemd-default-registry: {{ registry.default }}
cni: {{ cni }}
token: {{ rke2_join_token }}